@using System.Text

@page "/"

<PageTitle>Index</PageTitle>

<h1>BLE Scanner Demo</h1>
<button class="btn btn-primary" disabled="@(!isBluetoothAvailable)" @onclick="ConnectToScanner">Connect</button>
<div class="row mt-4">
    <div class="col">
        <span style="white-space: nowrap" class="me-1">Result string:</span>
    </div>
</div>
<div class="row mt-1">
    <div class="col">
        <input type="text" style="width: 100%" value="@resultString">
    </div>
</div>